<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="nopCommerceSuite">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Test">
		<classes>
			<!-- <class name="tests.AddToCartTestCases" /> -->
			<class name="tests.LoginTestCases" />
			<!--   <class name="tests.RegisterationTestCase" /> -->

		</classes>
	</test>
</suite> 
